ADMIN_USER="admin"
ADMIN_PASSWORD="a123456A"
ADMIN_EMAIL="jiabohao@aliyun.com"
JWT_SECRET="Pbp3l9DrnP9SNa+r1Zwue+0PZlY40vlNFwjMmUBES4le+Lh3Qzp4pVMxNu9f3hFlZWKulK8hX5G+wPFKTn0hMg=="
DATABASE_SCHEMA="public"
DATABASE_URL="postgres://postgres.jvnfubqtxxcaquixmrek:OKZmkNPyfk8gINND@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres"
SHADOW_DATABASE_URL=""

# 复制到服务器上的 .env 文件 然后执行docker compose 命令
